<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{> header }}
    <title>Portfolio</title>
</head>


<body style="font-family:georgia,garamond,serif;">
    {{> navbar }}

    <div class="baner">

        <div class="container pt-4">
            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/image/belajar-coding.jpg" alt="" width="185px" class="rounded">
                </div>
                <div class="col-md-6">
                    <h1>Sandy Wajongkere</h1>
                    <h5>Full-Stack Developer</h5>
                </div>
                <div class="col-md-4 pl-5 pt-5">
                    <a href="#place" class="btn btn-success float-right">CONTACT ME</a>
                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">

            <!-- Right side -->
            <div class="col-md-8">
                <div class="about-me mt-5 p-4">
                    <h2>About Me</h2>
                    <p>Saya adalah seorang ayah dan juga berprofesi sebagai programmer. Hobi saya yaitu nonton dan juga
                        bermain badminton.
                        Terkait profesi saya sebagai programmer dan dengan adanya perkembangan IT yanga sangat cepat,
                        saya merasa sangat tertantang dengan profesi yang saya tekuni sekarang ini. Untuk mencapai
                        semuanya itu
                        tentunya saya sendiri terus mengembangkan skill yang saya miliki.</p>
                </div>

                <div id="project" class="latest-project mt-4 p-4">
                    <h2>My Project</h2>
                    <p>Salasatu project yang saya buat adalah sistem hotel. Dimana sistem ini dapat melakuan booking,
                        reservasi hingga
                        check out. Dan juga sistem ini di lengkapi dengan back office yaitu accounting sistem.</p>
                </div>
                <div class="work-experience mt-4 p-4 bg-white">
                    <h2>Work Experience</h2>
                    <h5 class="pt-2">Full-Stack Developer - (2019-Present)</h5>
                    <p>Sebagai full stack developer di perusahaan The Fantastic corp, saya membuat sistem hotel dan juga
                        pengembangan
                        accounting sistem sebagai back office bersama dengan team saya. Dan juga melakukan pengembangan
                        beberapa sistem
                        yang telah berjalan.</p>
                    <h5 class="pt-2">IT Desktop Engineer - (2015-2019)</h5>
                    <p>Saya sebagai teknisi IT support yang di tempatkan di PT Freeport Indonesia, Tembagapura.
                        Pekerjaan yang saya kerjakan
                        yaitu melakukan instalasi computer, software, maintenance computer, printer dan melakukan
                        setingan sistem monitoring
                        atau media informasi di seluruh area kerja.</p>
                    <h5 class="pt-2">IT Application & Software - (2013-2015)</h5>
                    <p>Ini adalah pekerjaan pertama saya sebagai IT support setelah saya lulus kuliah. Yang saya
                        kerjakan yaitu maintenance sistem CMS yang sudah ada dan juga sebagai System Administrator PT
                        Trakindo Utama
                        cabang Tembagapura. Melakukan instalasi computer, software, maintenance computer, printer dan
                        melakukan setingan
                        sistem monitoring atau media informasi di seluruh area kerja.</p>
                </div>
            </div>
            <!-- end right side -->

            <!-- Left side -->
            <div class="col-md-4">
                <div id="place" class="place mt-5 p-4">
                    <p><i class="fa fa-map-marker fa-lg"></i> Yogyakarta</p>
                    <p><i class="fa fa-envelope fa-lg"></i> <a href="mailto:sandy10cp@gmail.com"
                            target="_blank">sandy10cp@gmail.com</a></p>
                    <p><i class="fa fa-globe fa-lg"></i> <a href="http://www.blajarcoding.com">www.blajarcoding.com</a>
                    </p>
                    <p><i class="fa fa-github fa-lg"></i> <a href="https://github.com/sandy10cp" target="_blank">GIHUB
                            Project</a></p>
                </div>

                <div class="skills mt-4 p-4">
                    <h2>Skills</h2>
                    <p>Intro about your skills goes here. Keep the list lean and only show your primary skillset. You
                        can always provide a link to your Linkedin or Coderwall profile so people can get more info
                        there.</p>
                    <h5>PHP</h5>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5>JavaScript & jQuery</h5>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5>HTML5 & CSS</h5>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5>React Native</h5>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5>NodeJS</h5>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="education mt-4 p-4">
                    <h2 class="pb-2">Education</h2>
                    <h5>Computer Science</h5>
                    <p><i class="fa fa-graduation-cap fa-lg"></i> Universitas Klabat (2009-2013)</p>
                </div>

                <div class="education mt-4 p-4">
                    <h2 class="pb-2">Languange</h2>
                    <h5>English : Native speaking</h5>
                </div>

                <div class="education mt-4 p-4">
                    <h2 class="pb-2">Lates Article Post</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum voluptatibus voluptatum, iste
                        doloremque nulla iusto asperiores. Voluptatibus eum n</p>
                </div>
            </div>
            <!-- end left side -->


        </div>

    </div>


    {{> footer }}

</body>

</html>